/* reset values  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  /* font-size: 18px; */
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #212121;
}

h1 {
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 25px 0;
  text-align: center;
}

.main-container-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171717;
  width: 92vw;
  min-height: 300px;
  border-radius: 15px;
  margin: 70px 10px 15px 10px;
  padding-bottom: 15px;
  box-shadow: 0 10px 20px -5px rgba(0,0,0,.1), 0 4px 6px -2px
}

@media screen and (max-width: 767px) {
  /* for mobile */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* for tablets */
  .main-container-list{
    width: 70vw;
  }
}

@media screen and (min-width: 1024px) {
  /* for large screens */
  .main-container-list{
    width: 600px;
  }
}